html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: #0099ff;
  font-family: 'Roboto', sans-serif;
}

.control-label {
  font-size: 20px;
}

.page-title {
  margin-bottom: 20px;
	text-align: center;
}

.btn {
  font-size: 20px;
}

.form-group {
  margin-bottom: 0;
}

.alert-danger {
  font-size: 19px;
}

#result_text {
  font-size: 30px;
}

#result {
  font-size: 30px;
  color: blue;
}

#alert_message {
	margin-top: 25px;
}

.header.clearfix {
	margin-top: 1%;
}

#submit_button,
#res_dropdown,
#sc_level {
	width: 75%;
	font-size: 20px;
}

#res_dropdown,
#sc_level {
	padding: 5px 5px;
}

#res_dropdown {
	border: 1px solid #0099ff;
	border-radius: 4px;
  /* text-align-last: center; */
  /* padding-right: 29px; */
  /* direction: rtl; */
}

#sc_level {
	border: 1px solid #0099ff;
	border-radius: 4px;
}

#submit_button {
	box-shadow: 0 1px 10px 2px #888;
	border: none;
}

.num_text {
	color: #b31e00;
}

#north_button {
	color: #fff;
	font-weight: bold;
}

#south_button>a {
	color: #fff;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #b31e00;
}

.jumbotron {
	padding-top: 5px;
}

.col-sm-offset-2 {
	margin-bottom: 10px;
}
