body {
	background: #0099ff;
  font-family: 'Roboto', sans-serif;
}

.control-label {
  font-size: 20px;
}

.page-title {
  margin-bottom: 20px;
}

.btn {
  /* padding: 6px 47px; */
  font-size: 20px;
}

.form-group {
  margin-bottom: 0;
}

.alert-danger {
  font-size: 20px;
}

#result_text {
  font-size: 30px;
}

#result {
  /* text-align: center; */
  font-size: 30px;
  color: blue;
}

#alert_message {
	 /* don't allow the alert message to push other dom elements */
	/* position: absolute; */
}

.header.clearfix {
	margin-top: 1%;
}

/* #submit_button {

} */

#res_dropdown {
  /*margin-left: 33.5%;*/
  font-size: 15px;
  border: 1px solid #0099ff;
  border-radius: 4px;
  padding: 5px 7px;
}

#sc_level {
	font-size: 15px;
  border: 1px solid #0099ff;
  border-radius: 4px;
  padding: 6px 7px;
}

.num_text {
	color: #b31e00;
}

#north_button {
	color: #fff;
	font-weight: bold;
}

#south_button>a {
	color: #fff;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #b31e00;
}
