/* set the box sizing for the entire document to border-box */
html {
  box-sizing: border-box;
}

/* this is part of what allows inputs, buttons to be the same width */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* body styles */
body {
	background: #0099ff;
  font-family: 'Roboto', sans-serif;
}

/* input label styles */
.control-label {
  font-size: 20px;
}

/* page title styles */
.page-title {
  margin-bottom: 20px;
	text-align: center;
}

/* reduce margin between form inputs */
.form-group {
  margin-bottom: 0;
}

/* set font size of bootstrap alerts */
.alert-danger {
  font-size: 19px;
}

/* set text size of the word Result: */
#result_text {
  font-size: 30px;
}

/* style the feet down text */
#result {
  font-size: 30px;
  color: blue;
}

/* set top margin for alert message */
#alert_message {
	margin-top: 25px;
}

/* set top margin for navbar buttons */
.header.clearfix {
	margin-top: 1%;
}

/* set width and font size for all inputs and buttons */
#submit_button,
#res_dropdown,
#sc_level {
	width: 75%;
	font-size: 20px;
}

/* set styles for res select and SmartCover level fields */
#res_dropdown,
#sc_level {
	padding: 5px 5px;
	border: 1px solid #0099ff;
	border-radius: 4px;
}

/* give feet down button a shadow */
#submit_button {
	box-shadow: 0 1px 10px 2px #888;
	border: none;
}

/* color the number of feet down. the class is assigned in jquery and then colored with this css */
.num_text {
	color: #b31e00;
}

/* starting styles for the north button in nav */
#north_button {
	color: #fff;
	font-weight: bold;
}

/* starting styles for the south button in nav */
#south_button>a,
#start_over>a {
	color: #fff;
}

/* set button text size in navbar */
#north_button,
#south_button,
#start_over {
  font-size: 18px;
}

/* styles for navbar buttons on hover. note this doesn't work in mobile unless it's long pressed */
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #b31e00;
}

/* reduce top padding inside jumbotron */
.jumbotron {
	padding-top: 5px;
}

/* give more space between feet down button and Result: */
.col-sm-offset-2 {
	margin-bottom: 10px;
}
